---
import RevolutLogo from "../RevolutLogo.astro";
import Personal from "./components/Personal.astro";
---

<header class="header">
  <div>
    <RevolutLogo />
    <nav class="navigation">
      <ul>
        <li>
          <a href="">Personal</a>
          <Personal />
        </li>
        <li>
          <a href="">Empresa</a>
        </li>
        <li>
          <a href="">Revolut <18</a>
        </li>
        <li>
          <a href="">Sobre nosotros</a>
        </li>
      </ul>
    </nav>
  </div>
  <nav>
    <ul>
      <li>
        <a class="login" href="">Iniciar sesión</a>
      </li>
      <li>
        <a class="register" href="">Registrarse</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  .header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    align-items: center;
  }
  .header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    padding: 15px 20px;
  }
  a.register,
  a.login {
    border-radius: 99999px;
    font-weight: 500;
    transition: background-color 300ms ease-in-out;
    padding: 15px 30px !important;
  }
  a.register {
    background-color: #fff;
    color: #000 !important;
  }
  a.register:hover {
    background-color: #d9d9d9;
  }
  a.login:hover {
    background-color: #000;
  }
</style>

<script>
  const navigation = document.querySelector(".navigation");
  console.log(navigation);
</script>
