<div class="content">
  <a>Descubre revolut</a>
  <div>
    Cuentas
    <ul>
      <li>Cuentas conjuntas</li>
      <li>Ahorros</li>
      <li>Pro para Autónomos</li>
      <li>Revolut -18: padres y tutores</li>
    </ul>
  </div>
  <div>
    Cartera
    <ul>
      <li>Crypto</li>
      <li>Acciones</li>
      <li>Materias primas</li>
    </ul>
  </div>
  <div>
    Ayuda
    <ul>
      <li>Centro de ayuda</li>
      <li>Comunidad</li>
      <li>Seguridad</li>
      <li>Estado del sistema</li>
    </ul>
  </div>
  <div>
    Planes
    <ul>
      <li>Standard</li>
      <li>Premium</li>
      <li>Metal</li>
    </ul>
  </div>
  <div>
    Operaciones bancarias diarias
    <ul>
      <li>Enviar dinero</li>
      <li>Recibir dinero</li>
      <li>Convertir dinero</li>
      <li>Retirar dinero</li>
    </ul>
  </div>
  <div>
    Estilo de vida
    <ul>
      <li>Recompensas</li>
      <li>Donaciones</li>
      <li>Seguro</li>
      <li>Crédito</li>
    </ul>
  </div>
</div>

<style>
  .content {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #000;
  }
</style>
